<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login time</title>
    <style>
        input{
            position: fixed;
            left: 100px
        }
    </style>
</head>
<body>
    <form method="POST">
        <label>username</label>
        <input name="input_username" type="text"> <br>
        <label>pass</label>
        <input name="input_password" type="password"> <br>
        <button style="position:fixed;left:210px">login</button>

    </form>
</body>
</html>