<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>update time</title>
    <style>
        input{
            position: fixed;
            left: 130px;
            border-color: aqua 
        }
        label{
            font-family:'Courier New';
            font-size: 20px;
            color:forestgreen;
        }
    </style>
</head>
<body>
    <form method="POST">
        <label>name</label>
        <input name="input_name" type="text" value="{{update_service.name}}"  > <br>
        <label>age</label>
        <input name="input_age" type="text" value="{{update_service.age}}"> <br>
        <label>gender</label>
        <input name="input_gender" type="text" value="{{update_service.gender}}"> <br>
        <label>height</label>
        <input name="input_height" type="text" value="{{update_service.height}}"> <br>
        <label>available</label>
        <input name="input_available" type="text" value="{{update_service.available}}"> <br>
        <label>address</label>
        <input name="input_address" type="text" value="{{update_service.address}}"> <br>
        <button>submit</button>
    </form>
</body>
</html>